// http://ironodatinfo/rgb.php?color=EF845C
// #EF845C
//

@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
$body-bg: #f5f1e9;
$text-color: #6b6b6b;

$brand-primary: #0c555D;

$btn-primary-color: #f5f1e9;
$navbar-defult-bg: $body-bg;
$font-family-sans-serif: 'Noto Sans JP', sans-serif;

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
.dummy {
	color: #f5f1e9;
	color: #ff6860;
	color: #ccdfcc;
	color: #262626;
	color: #0c555d;
	color: #F05BC8;
}
* { margin: 0; padding: 0;}

body {
}

.form-group {
	.thumbnail {
		max-width: 96px;
		margin-bottom: 0;
	}
	#table-more {

	}
}

#member-table {
	margin: 0 auto 12px;
	width: 95%;
}


.modal-body {
	overflow: hidden;
}

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0.01;
}
@media (max-width: $screen-sm-min) {

}
